html,body{
    height: 100%;
}
body{
    padding-top: 60px;
}

body#profile img#profile-image{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

.huge{
    font-size: 40px;
}
.tag-boxes .panel-primary{
    border: 2px solid lightskyblue;
}

.tag-boxes .panel-red{
    color: white;
    background: red;
}
.tag-boxes .panel-red a{
    color: red;
}
.tag-boxes .panel-red a:hover{
    color: red;
}
.tag-boxes .panel-yellow{
    color: white;
    background: gold;
}
.tag-boxes .panel-yellow a{
    color: gold;
}
.tag-boxes .panel-yellow a:hover{
    color: gold;
}
.tag-boxes .panel-green{
    color: white;
    background: green;
}
.tag-boxes .panel-green a{
    color: green;
}
.tag-boxes .panel-green a:hover{
    color: green;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

.body-section{
    padding-bottom: 70px;
}

footer{
    background: black;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a{
    color: white;
    font-weight: bold;
}
footer a:hover{
    color: white;
    text-decoration: underline;
}